.Rproj.user
.Rhistory
.RData
.Ruserdata

dataset

archive

output

data/external/death-data/*
data/external/test-data/*
data/external/public-data/*
data/raw/test-data/*
data/raw/public-data/*
data/raw/shift-data/*
data/interim/*
data/processed/*

export

script/*.html

script/*.pdf
